.bio {
    font-family: cursive;
    font-size: large;
    padding: 20px;
    display: flex;
}
.about {
    display: flex;
    justify-content: space-between;
    font-family: cursive;
    background-color: #78c0e0;
}
.title {
    text-align: center;
    color: #0e0e52;
    display: flex;

}
.photo {
    display:flex;
}