.nav-links {
    list-style-type: none;
    font-family: cursive;
    font-size: large;
    display:flex;
    color: #78c0e0;
    
}
.navbar {
    background-color: #0e0e52;
    color: #78c0e0;
    font-family: cursive;
    display: flex;
    justify-content: space-around;
}
