.nav-links {
    list-style-type: none;
    font-family: cursive;
    font-size: large;
    display:flex;
    
}
.navbar {
    background-color: #78c0e0;
    display: flex;
    justify-content: flex-end;
}
