.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: cursive;
}
div.card {
    border: gray solid 3px;
    border-radius: 20px;
    font-family: cursive;
    text-align: center;
}
.top-title {
    font-family: cursive;
    text-align: center;
}