
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #cdd6dd;
}

.container {
    background-color: #cdd6dd;
    min-height: 75vh;
}

div.card {
    border: #0e0e52 solid 2px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.top-title {
    font-family: cursive;
    text-align: center;
}
.project {
    background-color: #cdd6dd;
    display: flex;
    justify-content: center;
    color: #0e0e52;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}