.techSkills {
    font-family: cursive;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #78c0e0;
    color: #0e0e52;
    width: 100vw;
    height: 75vh;

}
ul {
    list-style-type: none;
}
h1 {
    display: flex;
    justify-content: space-around;
}